<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1>Welcome to About Page</h1>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col 12">
                    <a href="/" class="btn text-primary">Home</a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <h3>This is the full about page</h3>
            </div>
        </div>
    </div>