{% extends 'base.html' %}
{% block content %}
    
<form method="">
    <div class="row mt-5">
        <div class="col-12">
            <label for="searchMovie" class="form-label">Search for Movie:</label>
            <input type="text" class="form-control" id="searchMovie" name="searchMovie">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<div class="row mt-1">
    <div class="col-12">
        {% if searchTerm %}
            <p>Search results for: "{{searchTerm}}"</p>
        {% else %}
            <p>Search results for: All Movies</p>
        {% endif %}
    </div>
</div>

<div class="row my-3">
    <div class="col-12">
        <h3>Movie List</h3>
    </div>
</div>
<div class="row my-3">
    {% for movie in movies %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="{{movie.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.description}}</p>
                <p class="card-text"><small>{{movie.year}}, {{movie.genre}}</small></p>
                {% if movie.url %}
                    <a href="#" class="btn btn-primary">Info</a>
                {% endif %}
            </div>
            </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}