<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1>Welcome to HomePage</h1>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col 12">
                    <a href="about" class="btn text-primary">About</a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <h3>This is the full home page</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="">
            <div class="row">
                <div class="col-12">
                    <label for="searchMovie" class="form-label">Search for Movie:</label>
                    <input type="text" class="form-control" id="searchMovie" name="searchMovie">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <div class="row mt-1">
            <div class="col-12">
                {% if searchterm %}
                    <p>Searching for {{searchterm}}</p>
                {% else %}
                    <p>Searching for All</p>
                {% endif %}
            </div>
        </div>
        
        <div class="row my-3">
            <div class="col-12">
                <h3>Movie List</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                            <tr>
                                <td>{{movie.title}}</td>
                                <td>{{movie.description}}</td>
                                <td><img src="{{movie.image.url}}" alt="" class="img-thumbnail" width="200px"></td>
                                <td>
                                    {% if movie.url %}
                                        <a href="{{movie.url}}">Movie Link</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>