{% extends 'base.html' %}
{% block content %}
<div class="row my-3">
    <div class="col-12">
        <h1>Statistics</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h3>Movies per year chart</h3>
        <img src="data:image/png;base64,{{ graphic_per_year }}" alt="Movies per year chart">
    </div>
</div>
<div class="row my-3">
    <div class="col-12 text-center">
        <h3>Movies per genre chart</h3>
        <img src="data:image/png;base64,{{ graphic_per_genre }}" alt="Movies per genre chart">
    </div>
{% endblock content %}